body {
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
  background-color: #f9f5f0;
}

h1 {
  font-family: "Bitcount Single", system-ui;
  font-size: 64px;
  font-weight: 400;
}

.filter-buttons {
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  padding: 10px 0;
  margin: 30px 0;
}

.filter-buttons button {
  background: none;
  border: none;
  color: blue;
  font-family: "Bitcount Single", system-ui;
  font-size: 49px;
  cursor: pointer;
  padding: 1px 150px;
  transition: all 0.2s ease;
  transform-origin: center;
}

.filter-buttons button:hover {
  transform: scale(1.1);
}

.filter-buttons button:active {
  color: red;
}

.filter-buttons button.selected {
  color: red;
  transform: scale(1.1);
}

/* 기존 gallery는 미사용 */
.gallery {
  display: none;
}

.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 600px;
  max-height: 90vh;
}

.popup-content img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* === 메인 레이아웃 === */
.split-container {
  display: grid;
  grid-template-columns: 1fr 1px 1fr; 
  maw-width: 1200px;
  /*margin-top: 20px;
  height: auto; */
  margin: 0 auto;
}

/* 왼쪽 그리드 */
.left-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw 1.5vw;  /* row, column */
  justify-items: center;
}

.right-column {
  flex: 1; 
  display: grid; 
  grid-template-columns: repeat(3, 1fr);  
  /*column-gap: 10px; */
  row-gap: 5vw;                        
  justify-items: center;
  align-content: start; 
}

/* 가운데 선 */
.divider {
  background-color: rgba(0, 0, 0, 0.1);
  width: 1px;
  min-height: 100%;
}
/* 왼쪽 액자 */
.left-column img {
  width: 13vw;
  height: 13vw;
  padding: 10px;
  box-sizing: border-box;
  border: 12px ridge #d2b48c;
  background-color: #fffaf0;
  box-shadow: 2px 6px 15px rgba(0,0,0,0.3);
}


.left-column img:hover {
  transform: scale(1.05);
}

/* 오른쪽 액자 */
.right-column img {
  width: 15vw;
  height: 8vw;
  padding: 4px;
  object-fit: cover;
  box-sizing: border-box;
  background-color: #fffdf5;
  border: 9px double #bfa980;
  box-shadow:
    inset 0 0 4px rgba(255, 255, 240, 0.4),
    0 6px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  object-fit: cover;
}

.right-column img:hover {
  transform: scale(1.05);
}
