body {
  margin: 0;
  padding: 50px;
  
  background-color: #f9f5f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-box {
  display: flex;
  width: 1200px;
  height: 900px;
  border: 3px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-bottom: 30px;
}

.left-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  
}

.right-column {
  width: 60%;
  padding: 30px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  background-color: #ffffffd0;
  border-left: 5px solid #ccc; /* 좌측 테두리 추가 */
}

.image-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*padding: 0px; 사진 여백 삭제 */
  border-bottom: 1px solid #ccc;
  
  height: auto; /* 이미지 크기에 맞게 조절 */
}
.image-box img {
  max-width: 100%;
  height: auto;
  display: block;
}

.contact-box {
  flex: 1;
  
  display: flex;
  
  
  
}

.contact-box {
  display: flex;
  flex-direction: column;
  border-top: 5px solid #ccc;
  justify-content: center; /* 중앙으로 보냄 */
  align-items: flex-start; /* 좌측 정렬 */
  font-size: 20px;
  color: #333;
  padding: 10px;
}

/* Site, CA 제목 글자 크게 */
.contact-label {
  font-size: 36px; 
  font-weight: bold;
  margin-bottom: 16px;
  align-items: center; /* 좌측 정렬 */

}

/* Site 주소 살짝 크게 */
.contact-value {
  font-size: 21px; 
  margin-bottom: 20px;
}

/* CA 주소 + 복사 버튼 감싸는 부분 */
.ca-container {
  font-size: 16px; /* 밈엑스 주소보단 작게 */
  display: flex;
  align-items: center;
  gap: 8px;
}

/* 복사 버튼 이모티콘만 보이게 */
.copy-button {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.button-row {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
}

.button-row button {
  padding: 20px 40px;
  font-size: 35px;
  cursor: pointer;
  background: none;
  border: 2px solid #333;
  transition: background-color 0.2s, color 0.2s;
  font-family: "Bitcount Single", system-ui;
}

.button-row button:hover {
  background-color: #333;
  color: white;
}

.button-row .dummy {
  border-color: #999;
  color: #999;
  cursor: default;
}

.button-row .dummy:hover {
  background: none;
  color: #999;
}


.scale-container {
  transform: scale(0.53);
  transform-origin: top center; /* 스케일 줄일 때 기준점 */
}
